<div class="container mt-5 d-flex justify-content-center">
    <!-- <input type="text" [(ngModel)] = "search" (input)="filter()">
    <input type="text" [(ngModel)] = "search" (input)="sendMessage()"> 
    <button class="btn btn-primary ms-2" (click)="filter()">Search</button> -->
</div>
<p class="text-center">Buscando minion: {{search}}</p>
@for (minion of displayMinions; track minion.name) {
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="minion.img" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{minion.name}},
                            <small class="text-body-secondary">{{minion.side}} </small>
                            <small class="text-body-secondary">({{minion.birth}})</small>
                        </h5>
                        <p class="card-text">{{minion.bio}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    @if (minion.side === 'de los buenos') {
                        <img src="assets/img/de los buenos.PNG" class="img-fluid rounded-start" alt="..." style="height: 8vh;">
                    } @else {
                        <img src="assets/img/de los malos.PNG" class="img-fluid rounded-start offset-1" alt="..." style="height: 6vh;">
                    }
                </div>
            </div>
        </div>
    </div>
}