<div class="container d-flex justify-content-center">
    <!-- <input type="text" [(ngModel)] = "search" (input)="filter()">
    <input type="text" [(ngModel)] = "search" (input)="sendMessage()"> 
    <button class="btn btn-primary ms-2" (click)="filter()">Search</button> -->
</div>
<h1 class="text-center mt-4">Lista de minions</h1>
<!-- <p class="text-center">Buscando minion: {{search}}</p> -->
@if (!minions) {
    <p class="text-center">No hay minions :c</p>
}
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
    @for (minion of minions; track minion.name) {
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img [src]="minion.img" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{minion.name}},
                                <small class="text-body-secondary">{{minion.side}} </small>
                                <small class="text-body-secondary">({{minion.birth}})</small>
                            </h5>
                            <a class="btn btn-primary mt-3 ms-4" href="/minions/{{minion.id}}">Detalles -></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>
<router-outlet></router-outlet>